# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
*.whl

# Virtual Environment
venv/
.venv/
env/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Test
.hypothesis/

# Celery
celerybeat-schedule

# Database
*.db
*.sqlite3

# Docker
docker-compose.override.yml

# MyPy
.mypy_cache/

# Logs
*.log