fastapi
uvicorn[standard]
gunicorn
sqlalchemy[asyncio]
asyncpg
aiosqlite
pydantic
pydantic-settings
redis
fakeredis[lua]
python-jose[cryptography]
bcrypt
python-multipart
celery
httpx
qiniu
pytest
pytest-asyncio